## Data Analysis Observation:

- Open and unfulfilled jobs on Upwork mention popular websites such as Amazon, TikTok, LinkedIn, Real Estate, and Google Maps.
- The current data may not offer a comprehensive understanding of clientsâ€™ most sought-after services.
- Limited focus on these specific sites implies little competition among freelancers in these areas.
- More data on job postings and price ranges on Upwork is needed to identify potentially lucrative opportunities, even in competitive fields.

In [40]:
import pandas as pd
import matplotlib.pyplot as plt
from rich import print
import csv

In [41]:
df = pd.read_csv("inputs/Upwork My Jobs 200.csv")

## Data Cleaning

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   column  436 non-null    object
dtypes: object(1)
memory usage: 3.5+ KB

In [43]:
df.head()

                                              column
0               App developer to build a web scraper
1  Hourly: $15-$35 - Intermediate - Est. Time: Le...
2                            Data ScrapingAutomation
3  Â  Payment verified Rating is 0 out of 5. $0 sp...
4  Automation script with input and chrome extens...

In [44]:
organized_data = {"titles": [], "descriptions": []}

for idx, row in df.iterrows():
    if idx % 2 == 1:
        data = row["column"]
        organized_data["descriptions"].append(data.strip().title())
    else:
        data = row["column"]
        organized_data["titles"].append(data.strip().title())

In [45]:
organized_df = pd.DataFrame(organized_data)
organized_df.head()

,titles,descriptions
0,App Developer To Build A Web Scraper,Hourly: $15-$35 - Intermediate - Est. Time: Le...
1,Data Scrapingautomation,Payment Verified Rating Is 0 Out Of 5. $0 Spen...
2,Automation Script With Input And Chrome Extens...,Fixed-Price - Intermediate - Est. Budget: $200...
3,Automationdata Scrapinggoogle Chrome Extension...,Payment Verified Rating Is 5 Out Of 5. $40 Spe...
4,"Build ""Tik Tok/Ig Scraper"" For Marketing Agenc...",Hourly: $30-$50 - Expert - Est. Time: Less Tha...

In [46]:
organized_df.to_csv(
    f"checkpoints/organized_jobs.csv", quoting=csv.QUOTE_NONNUMERIC, index=False
)

## Begin Analysis

In [48]:
titles_df = organized_df.copy(deep=True)
titles_df.drop(columns="descriptions", inplace=True)

titles_df["titles"] = titles_df["titles"].str.split(" ")
titles_df.head()

                                              titles
0       [App, Developer, To, Build, A, Web, Scraper]
1                         [Data, Scrapingautomation]
2  [Automation, Script, With, Input, And, Chrome,...
3  [Automationdata, Scrapinggoogle, Chrome, Exten...
4  [Build, "Tik, Tok/Ig, Scraper", For, Marketing...

In [52]:
titles_df = titles_df.explode("titles")

In [55]:
value_counts = titles_df["titles"].value_counts()
pd.set_option("display.max_rows", 500)
value_counts.head(100)

titles
Data                  85
Scraping              50
Web                   41
Scrapingdata          36
For                   28
And                   24
Extraction            21
To                    21
Scraper               20
Scrape                19
A                     16
Website               13
From                  13
&                     11
Mining                11
Developer              9
Miningdata             8
Expert                 8
Extractiondata         8
Api                    8
Needed                 7
Excel                  7
Scrapingpythondata     7
Build                  7
Development            7
Extract                7
Generationdata         6
Create                 6
Entry                  6
Scrapingweb            6
Scrapping              6
With                   6
Miningweb              6
Chrome                 6
Need                   6
Crawlingdata           6
Crawling               6
Scrapinglead           5
The                    5
Automation             5
Database               5
Media                  5
Of                     5
Automationdata         4
Tool                   4
Amazon                 4
Generation             4
Script                 4
Email                  4
-                      4
In                     4
Social                 4
Google                 4
Extractionweb          4
Pdf                    4
Facebook               4
Integration            3
I                      3
Maps                   3
Youtube                3
Real                   3
Estate                 3
Python                 3
Project                3
Tiktok                 3
Scrapingpython         3
List                   3
Automated              3
Linkedin               3
/                      3
Extension              3
Integrationdata        3
Etc                    3
App                    3
Using                  3
Marketing              3
Code                   3
Companies              3
Extractiongoogle       3
Emails                 3
Ai                     3
Number,                2
Each                   2
Apollo.Io              2
Bot                    2
(Pull                  2
Updates                2
Out                    2
VerifierðŸ””              2
Contact)               2
Help                   2
Market                 2
Experienced            2
Scrapingapi            2
Entrydata              2
Miningpython           2
Specialist             2
Listing                2
Accuracy               2
Required               2
Name: count, dtype: int64